@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    background-color: black;
}

body{
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}

input {
    margin-left: 10px;
}

@layer utilities {
    input:-webkit-autofill {
        -webkit-text-fill-color: white;
    }
  }


  [data-top-scroll="true"] {
    mask-image: none !important;
  }

  [data-top-scroll="false"] {
    mask-image: none !important;
  }
